---
import { Button } from "../ui/button"
---

<section id="reservas" class="pb-40 space-y-12">
  <h2 class="text-center">Reservas</h2>
  <div class="flex container">
    <div class="flex-1">
      *Las horas y/o días deshabilitados en el calendario no cuentan con
      disponibilidad.
    </div>
    <div class="flex-1">
      <p>Imagen</p>
      <Button>Reservar Ahora</Button>
    </div>
  </div>
  <hr />
</section>
