<section id="contacto" class="container pb-40 space-y-12">
  <h2>Contacto</h2>
  <div class="flex">
    <div class="flex-1">
      Estamos ubicados en los jardines del Museo Larco y el acceso al
      restaurante es libre, previa reserva.
    </div>
    <div class="flex-1 border">Horario de Atención</div>
  </div>
  <div>
    <iframe
      loading="lazy"
      class="w-full h-80"
      title="ubicacion_del_club_del_camarón"
      src="https://maps.google.com/maps?q=club%20del%20camar%C3%B3n&t=&z=13&ie=UTF8&iwloc=&output=embed"
    ></iframe>
  </div>
</section>
