---
import { Button } from "../ui/button"

const RESTAURANTE_LETTER_CATEGORIES = [
  "Especialidades",
  "Platos Criollos",
  "Menu Infantil",
  "Bebidas",
  "Cocktails"
]
---

<section id="carta" class="container py-40 space-y-12">
  <h2 class="text-center">Carta</h2>
  <ul class="flex w-full">
    {
      RESTAURANTE_LETTER_CATEGORIES.map(category => (
        <li class="flex-1 text-center">{category}</li>
      ))
    }
  </ul>
  <Button variant="secondary" className="block mx-auto"
    >CARTA PRINCIPAL (PDF)</Button
  >
  <hr />
</section>
