---
import { cn } from "@/lib/utils"
import SectionTitle from "../SectionTitle.astro"
import { Button, buttonVariants } from "../ui/button"
import LettersOptions from "@/components/client/LettersOptions"
---

<section id="carta" class="container pt-40 space-y-12">
  <SectionTitle class="text-center">Carta</SectionTitle>
  <LettersOptions client:visible />
  <a
    class={cn(buttonVariants(), "block mx-auto w-fit")}
    href="/carta-oficial.pdf"
    target="_blank">CARTA PRINCIPAL (PDF)</a
  >
  <hr />
</section>
