---
import Logo from "@/components/Logo.astro"
import { Navigation } from "@/components/client/Navigation"
---

<header class="left-0 right-0 fixed top-0 z-10 transition-colors duration-300">
  <div class="container py-4 lg:py-6">
    <div class="flex justify-between items-center">
      <div class="flex items-center gap-4">
        <Logo class="size-10 hidden lg:block" />
        <h1 class="text-orange-300 font-mochiy text-xl inline">
          El Club del Camarón
        </h1>
      </div>
      <Navigation client:load />
    </div>
  </div>
</header>

<script>
  window.addEventListener("scroll", () => {
    if (window.location.pathname !== "/") return
    const header = document.querySelector("header")!

    const hasScrolled = window.scrollY > 100

    if (hasScrolled) {
      header.classList.add("bg-primary-foreground")
    } else {
      header.classList.remove("bg-primary-foreground")
    }
  })

  function cambiarFondo() {
    const header = document.querySelector("header")!

    if (window.location.pathname !== "/") {
      header.classList.add("bg-primary-foreground")
    } else {
      header.classList.remove("bg-primary-foreground")
    }
  }

  cambiarFondo()

  window.addEventListener("popstate", cambiarFondo)
</script>
